node_modules/
.node_modules/
built/*
test-args.txt
~*.docx
\#*\#
.\#*
rwc-report.html
*.swp
build.json
*.actual
!tests/cases/docker/*.js/
tests/cases/**/*.js.map
*.config
coverage/
internal/
**/.DS_Store
.settings
**/.vs
**/.vscode
!**/.vscode/tasks.json
.idea
yarn.lock
yarn-error.log
.parallelperf.*
.failed-tests
TEST-results.xml
package-lock.json

.next
dist